@import "tailwindcss";

@theme {
  --color-brand-primary: #246CFF;
  --color-brand-secondary: #0743BD;
  --color-brand-accent: #FFD700;
  --color-brand-black: #000000;
  --color-brand-zinc-900: #18181b;
  --color-brand-zinc-800: #27272a;
  --color-brand-zinc-700: #3f3f46;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
  }
}

@layer base {
  body {
    @apply bg-[#0a0a0a] text-white font-sans;
  }
}

@layer components {
  .instagram-gradient {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
